body{
	font-family: Verdana, Arial;
	font-size: 14pt;
}
.pannel-element-horizontal{
    float: left;
    height: 100%;
}
.Pannel{
    border-style: groove;
    border-width: thin;
    border-color: gray;
    float: left;
    margin-right: 5px;
    height: 80%;
    width: 40%;
    overflow: hidden;
}
.pannel-body{
    overflow: auto;
}
.Pannel button {
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: medium;
    color: white;
    margin-bottom: 3px;
    background-color: DarkSlateGray;
    padding: 2px 6px;
}
.pannel-header{
	background-color: Gainsboro;
    padding: 5px;
    padding-top: 0px;
}
.pannel-header h1{
    font-size: 14pt;
    font-variant: small-caps;
    margin-bottom: 0;
    margin-top: 0;
}
.pannel-element-horizontal h1{
    overflow: auto;
    width: 100px;
}
.pannel-footer{
	background-color: Gainsboro;
}
